@model project.Models.Models.Vm_Product;
<form action="/product/addproduct" method="post" enctype="multipart/form-data">
    <label for="">name :</label>
    <input required class="form-control"  asp-for="Vm_Name" type="text">
    <br>
    <label  for="">Color :</label>
    <input required class="form-control" asp-for="Vm_Color" type="color">
    <br>
    <label for="">Count :</label>
    <input required class="form-control" asp-for="Vm_Count" type="number">
    <br>
    <label for="">Price :</label>
    <input required class="form-control" asp-for="Vm_Price" type="number">
    <br>
    <label for="">Image :</label>
    <input class="form-control" asp-for="Vm_IMG" type="file">
    <br>
    <label for="">CaptchaCode :</label>
    <img src="/product/GetCaptchaImage" alt="">
    <input class="form-control" asp-for="Vm_CaptchaCode" type="text">
    <br>
    <button class="btn btn-sm btn-block btn-success" type="submit">add product</button>
</form>

